@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
*{
    margin : 0;
    padding : 0;
    outline : 0;
    box-sizing : border-box;
}
html,body,#root{
    min-height : 100%;
}

body,input,button{
    font-family: Roboto, sans-serif;
    color : #222;
    font-size : 14px;
}
button{
    cursor: pointer; 
}

body::-webkit-scrollbar {
    width: 0.45rem;
  }
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  body::-webkit-scrollbar-thumb {
    background: #45BF49;
  }